.test-section {
  margin-bottom: 60px;
}

.buttons {
  margin-bottom: 20px;
  button + button {
    margin-left: 15px;
  }
}

.error {
  color: red;
  font-weight: bold;
  margin: 20px 0;
}

.result-card {
  margin-top: 30px;
  padding: 20px;
}

.low-stock {
  color: #d32f2f;
  font-weight: bold;
}
