// 1. Import the custom theme using the modern @use syntax
@use './custom-theme';

// 2. Tailwind directives
@tailwind base;
@tailwind components;
@tailwind utilities;

// 3. Global styles
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', "Helvetica Neue", sans-serif;
}
