/* src/styles.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Angular default styles can go below or be adjusted */
html, body {
  height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
