server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowed-origins: "*"
            allowed-methods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowed-headers: "*"
            allow-credentials: true

      routes:
        - id: commande-service
          uri: lb://COMMANDE-SERVICE
          predicates:
            - Path=/api/purchase-orders/**
          filters:
            - StripPrefix=0

        - id: comptabilite-service
          uri: lb://COMPTABILITE-SERVICE
          predicates:
            - Path=/api/invoices/**
          filters:
            - StripPrefix=0

        - id: livraison-service
          uri: lb://LIVRAISON-SERVICE
          predicates:
            - Path=/api/livraisons/**
          filters:
            - StripPrefix=0

        - id: stock-service
          uri: lb://STOCK-SERVICE
          predicates:
            - Path=/api/stocks/**
          filters:
            - StripPrefix=0

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true

logging:
  level:
    org.springframework.cloud.gateway: DEBUG